---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/<twilio account sid>/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&To=111111&From=5038500733
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUMxMWUwODY2NjQxYzZkM2YzYTk2YTdmOWJhYTZlM2VmOTpkN2RkYmFiMjYyZjU5NzMxMWU5NGU4OGE1ODJmYjdjMQ==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.066'
      Twilio-Request-Id:
      - RQ0e0ba20de4a74565a4966c55fcc4ecb1
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21211, "message": "The ''To'' number 111111 is not a valid
        phone number.", "more_info": "https://www.twilio.com/docs/errors/21211", "status":
        400}'
  recorded_at: Tue, 27 Sep 2016 18:38:04 GMT
recorded_with: VCR 3.0.3
